# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.tmp
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# pwa
sw.*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.template
!.env.example
!.env.production
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
