environment     = "$ENVIRONMENT"

do_token        = "$DO_TOKEN"
project_id      = "$DO_PROJECT_ID"
cf_api_key      = "$CF_API_KEY"
cf_email        = "$CF_EMAIL"
cf_zone_id      = "$CF_ZONE_ID"

domain          = "$DOMAIN"